@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70px;
    padding-top: 50px;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.class1 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.img1 {
    width: 200px;
    padding: 40px;
    padding-top: 50px;
}

.class2 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.examples {
    width: 150px;
    padding: 15px;
}

.download {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70px;
}