@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
    padding-top: 10%;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.class1 {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

.img1 {
    width: 40%;
    padding: 10%;
    padding-top: 15%;
}

.class2 {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

.examples {
    width: 25%;
    padding: 3%;
}

.download {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
}